In [3]:
# Dependencies and Setup
import pandas as pd
import json
import os


# File to Load 
jsonfile = os.path.join("Resources","purchase_data.json")

In [5]:
# read JSON data as variable 
with open(jsonfile) as jfile:
    d = pd.read_json(jfile)

In [9]:
#create dataframe
pymoli_df = pd.DataFrame(d, columns=['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID','Item Name','Price'])
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
#player count
count_sn = len(pymoli_df['SN'].value_counts())
count_sn = pd.DataFrame({"Total Players": count_sn}, index= [0])
count_sn

   Total Players
0            576

In [18]:
#purchase analysis

#unique items
unique_id = len(pymoli_df['Item ID'].value_counts())

#average price
mean_price = pymoli_df['Price'].mean()

#number of purchases
count_purchase = pymoli_df['Item Name'].count()

#revenue

count_rev = pymoli_df['Price'].sum()

#purchase analysis data frame

p_analysis = pd.DataFrame({"Number of Unique Items": [unique_id],
                           "Average Price": [mean_price],
                           "Total Purchases": [count_purchase],
                           "Total Revenue": [count_rev],
                          })
p_analysis.head()

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     183       3.050987              780        2379.77